body {
  font-family: 'Times New Roman', Times, serif;
  background-color: white;
}

.flex-cont{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#login-form,
.logo,
#form {
  position: relative;
}

#login-form {
  height: 200px;
  width: 700px;
  background-color: grey;
  border-radius: 0px;
  margin: 40px auto;
}

#input1{
  margin: 10px 0px 40px 0px;
  background-color: rgb(25, 24, 24);
  border-radius: 10px;
  

}